
<h5>Check out your Words </h5>
<br>
<br>
<div>
  <% @words.each() do |word| %>
    <h4><a href="/word_def_page/<%= word.id() %>"><%= word.vocab() %></a></h4>
  <% end %>
</div>
<hr>
<div class="center">
<a href="/"><button type="button" class="btn btn-success">Click Here To Add Another Word!</button></a>
</div>
<br>
