<div class="panel panel-default">
  <div class="panel-body">
    <ul>
      <%@word.definitions().each() do |definition| %>
        <li><i><%= definition.definition() %></i></li>
        <% end %>
    </ul>
  </div>
</div>

<form action="/word_def_page/<%= @word.id()%>" method="post">
  <p>Please enter definition for <%= @word.vocab() %></p>
  <input type="text" name="definition">
<button type="submit" class="" name="button">Add Definition</button>
</form>
<hr>
<div class="center">
<a href="/"><button type="button" class="btn btn-success">Add words!</button></a>
</div>
<br>
